In [92]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [93]:
#read all of the region files and capacity data

HS_regions = gpd.read_file(r'C:\Users\kevan\OneDrive\Desktop\Data+\HS_regions_2025_26\HS_regions_2025_26.shp')
HS_regions = HS_regions.to_crs('EPSG:4326')

MS_regions = gpd.read_file(r'C:\Users\kevan\OneDrive\Desktop\Data+\MS_regions_2025_26\MS_regions_2025_26.shp')
MS_regions = MS_regions.to_crs('EPSG:4326')

ES_regions = gpd.read_file(r'C:\Users\kevan\OneDrive\Desktop\Data+\ES_regions_2024_25\ES_regions_2024_25.shp')
ES_regions = ES_regions.to_crs('EPSG:4326')

capacity_data = pd.read_csv(r'C:\Users\kevan\OneDrive\Desktop\Data+\Parcels_.csv')

In [94]:
#add school name column based on its ID
HS_regions = HS_regions.rename(columns={'sch_id_gt_': 'ID'})
MS_regions = MS_regions.rename(columns={'sch_id_gt_': 'ID'})
ES_regions = ES_regions.rename(columns={'sch_id_gt_': 'ID'})

HS_regions['ID'] = HS_regions['ID'].astype(str)
MS_regions['ID'] = MS_regions['ID'].astype(str)
ES_regions['ID'] = ES_regions['ID'].astype(str)
capacity_data['ID'] = capacity_data['ID'].astype(str)

HS_regions = HS_regions.merge(
    capacity_data[['ID', 'School', 'curr_crowd_assume_100']],
    on='ID',
    how='left'  # Use 'left' to keep all rows from HS_regions
)
MS_regions = MS_regions.merge(
    capacity_data[['ID', 'School', 'curr_crowd_assume_100']],
    on='ID',
    how='left'
)
ES_regions = ES_regions.merge(
    capacity_data[['ID', 'School', 'curr_crowd_assume_100']],
    on='ID',
    how='left'
)

In [95]:
HS_regions.head()

,OBJECTID,ID,Shape_Leng,Shape_Area,geometry,School,curr_crowd_assume_100
0,1.0,312,174863.450332,1.127178e+09,"POLYGON ((-78.95832 35.99869, -78.95832 35.998...",Jordan,1.401105
1,2.0,325,168558.327819,1.137551e+09,"POLYGON ((-78.86421 35.95016, -78.86332 35.946...",Hillside,1.117915
2,3.0,356,283749.368410,3.373750e+09,"POLYGON ((-78.80489 36.08853, -78.80558 36.088...",Northern,1.324375
3,4.0,365,153807.426234,7.866560e+08,"POLYGON ((-78.93257 36.08311, -78.93203 36.083...",Riverside,1.602597
4,5.0,368,188381.789318,1.877839e+09,"POLYGON ((-78.7402 36.02356, -78.74019 36.0235...",Southern,1.322078

In [96]:
MS_regions.head()

,OBJECTID,ID,Shape_Leng,Shape_Area,geometry,School,curr_crowd_assume_100
0,1.0,306,121441.979398,4.384593e+08,"POLYGON ((-78.95158 36.02475, -78.94814 36.024...",Brogden,1.224771
1,2.0,316,144073.606244,8.129303e+08,"POLYGON ((-78.93962 36.12286, -78.93868 36.122...",Carrington,1.203529
2,3.0,338,70431.144525,2.365580e+08,"POLYGON ((-78.86421 35.95016, -78.86332 35.946...",Shepard,0.793040
3,4.0,342,58883.126919,1.631540e+08,"POLYGON ((-78.93017 36.00686, -78.92979 36.006...",Lakewood MS,0.856667
4,5.0,343,272994.960200,2.909016e+09,"POLYGON ((-78.8041 36.12648, -78.80416 36.1236...",Lucas,0.832298

In [97]:
ES_regions.head()

,OBJECTID,Shape_Leng,Shape_Area,ID,geometry,School,curr_crowd_assume_100
0,1.0,84147.192461,2.292518e+08,304,"POLYGON ((-78.85704 35.98537, -78.85705 35.984...",Bethesda,0.895683
1,2.0,13422.479738,9.282812e+06,308,"POLYGON ((-78.87959 35.97787, -78.87586 35.976...",Burton,0.389831
2,3.0,30772.511481,3.764245e+07,310,"POLYGON ((-78.88059 36.00368, -78.87919 36.003...",Eastway,0.897260
3,4.0,39827.008504,5.328744e+07,313,"POLYGON ((-78.92031 36.07719, -78.91989 36.077...",Easley,0.456621
4,5.0,119549.597668,3.770751e+08,315,"POLYGON ((-78.93962 36.12286, -78.93868 36.122...",Eno Valley,1.035608

In [ ]:
# HS_regions.to_file('HS_curr_crowd_assume_100.geojson', driver = 'GeoJSON')
# MS_regions.to_file('MS_curr_crowd_assume_100.geojson', driver = 'GeoJSON')
# ES_regions.to_file('ES_curr_crowd_assume_100.geojson', driver = 'GeoJSON')